---
layout: "agency-pkg-layouts/default"
---
<section class="history-test" data-history-base-filename="index.html">
  <h2>History Example</h2>
  <h4>Set "history-test" Deep</h4>
  <input type="text" id="history-title" placeholder="Page Title" />
  <input type="text" id="history-value" placeholder="Deep Value" />
  <input type="button" id="history-click-update" value="Update" />
  <input type="button" id="history-click-replace" value="Replace" />
  <h4>Registry</h4>
  <blockquote>
    <span style="font-style: italic;">Added GET params to adressbar.</span>
  </blockquote>
  <ul id="history-debug-registry"></ul>
</section>
